In [1]:
#!pip install pandas-datareader
import pandas as pd
import pandas_datareader.data as web
import datetime
import csv

code_df = pd.read_csv('C:/Users/Mgyu/PL/financial/상장법인목록_2022_05_08.csv')
code_df = code_df[['회사명', '종목코드']]

In [2]:
code_df

             회사명    종목코드
0       상상인제3호스팩  415580
1         신영스팩7호  419270
2           포바이포  389140
3        신한제9호스팩  405640
4     미래에셋비전스팩1호  412930
...          ...     ...
2495      CJ대한통운     120
2496       메리츠화재      60
2497          경방      50
2498       유수홀딩스     700
2499    한진중공업홀딩스    3480

[2500 rows x 2 columns]

In [3]:
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format) # 0을 체워넣어서 여섯자리로 종목코드 길이 고정

In [5]:
def get_code(df, name):
    name_list = list(code_df['회사명'])
    if name not in name_list:
        print('회사명을 정확히 입력해주세요.')
    else:
        code = df.loc[df['회사명'] == name, '종목코드'].to_string(index=False)
        code = code.strip()
        return code

In [6]:
name = input("원하는 회사명을 정확히 입력하세요: ")
code = get_code(code_df, name)

원하는 회사명을 정확히 입력하세요: 삼성전자

In [7]:
start = datetime.datetime(2012, 5, 8)
end = datetime.datetime(2022, 5, 8)
df = web.DataReader(f"{code}.KS", "yahoo", start, end)
# "yahoo"사이트에서 "005930.KS"코드에 해당하는 주가 데이터 가져옴

df.to_csv(f'C:/Users/Mgyu/PL/financial/{name}.csv')